
.pagination {
  border-radius: 0;
  margin: 10;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}

.arrow {
  margin:10px
}

li {
  margin:10px
}

li:hover {
  background: rgba(255, 158, 27, 1);
  cursor: pointer;
}

li.active {
  background: rgba(255, 158, 27, 1);
}

.page {
  padding: 5px;
  border-width:  .1px;
  border-color: black;
  border-style: solid;  
  border-radius: 5px;
}