@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100% );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Manolo Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Manolo Mono Regular'), url('./fonts/manolomono.woff') format('woff');
  }

.nav-font {
    font-family:'Manolo Mono Regular';
    font-size: 15px;
  }

.nav-font-bold {
    font-family:'Manolo Mono Regular';
    font-weight:bold;
    font-size: 20px;
  }

.banner-title-font {
    font-family:'Manolo Mono Regular';
    font-weight:bold;
    font-size: 30px;
  }

.page-title-font {
    font-family:'Manolo Mono Regular';
    font-weight:bold;
    font-size: 30px;
  }

.footer-title-font {
    font-family:'Manolo Mono Regular';
    font-weight:bold;
    font-size: 25px;
  }